#   ~/.gitignore
#   git repository for config files
#

/*

#   git-specific files
!.gitignore
.gitconfig
!.gitmodules
!.git*

#   other config files
!.bash_profile
!.emacs

!.lessfilter

!.vimrc
!.vim
!.vim/
!.vim/*
!.vim/**
!.vim/bundle
#!.vim/bundle/*
!.vim/bundle/**
#!.vim/bundle/**/
#!.vim/bundle/*/*
#!.vim/autoload/*
#!.vim/indent/*
.vim/tmp/
.vim/backups/
.vim/.netrwhist
*.swp
