[user]
	email = johann.peterson@gmail.com
	name = Johann Peterson
[core]
	editor = vim
[color]
	diff = auto
	branch = auto
	status = auto
[push]
	default = simple
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
